/* --------  common styles  --------- */
:root {
    --color-active: #2196F3;
    --primary-white-color: #ffffff;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
    background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.main {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
}

.header {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color var(--tra);
}

.header__logo--start {
    color: var(--color-active);
}

.header__logo--end {
    color: #000000;
}

.header__pages{
    display: flex;
    align-items: center;
    margin-left: 93px;
    gap: 50px;
    list-style-type: none;
    font-weight: 500;
    line-height: 1.17;
}

.header__sheet{
    text-decoration: none;
    color: var(--main-text-color);
    letter-spacing: 0.02em;
    transition: color var(--tra);
}

.header__sheet:hover,
.header__sheet:focus {
    color: var(--color-active);
    fill: currentColor
}

.header__sheet--current {
    color: var(--color-active);
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color var(--tra);

    position: relative;
}

.header__sheet--current::after{
    content: "";
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
}

.header__contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
    list-style-type: none;
    font-weight: 500;
    line-height: 1.17;
}

.header__mail, .header__tel{
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    /* color: var(--main-text-color); */
    letter-spacing: 0.02em;
    transition: color var(--tra);
}

.header__mail:hover,
.header__mail:focus,
.header__tel:hover,
.header__tel:focus {
    color: var(--color-active);
    fill: currentColor
}

.header__icomail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.header__icotel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.footer {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__contacts{
    display: flex;
    background-color: #2F303A;

}

.footer__logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color var(--tra);
}

.footer__logo--start {
    color: var(--color-active);
}

.footer__logo--end {
    color: var(--primary-white-color);
}

.address {
    font-style: normal;
    line-height: 1.7;
    margin-top: 20px;
}


.address__list{
    display: flex;
    flex-direction: column;
    gap: 9px;
    list-style-type: none;
}

.address__map {
    color: var(--primary-white-color);
    text-decoration: none;
}

.address__call{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color var(--tra);
}

.address__call:hover,
.address__call:focus {
    color: var(--color-active);
    fill: currentColor
}

.footer__signup{
    margin-left: 70px;
    margin-top: 12px;
    color: var(--primary-white-color);
}

.signup__title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.signup__soc {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    fill: currentColor;
    list-style-type: none;
}

.subscribe{
    margin-left: 93px;
    margin-top: 12px;
}

.subscribe__title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.subscribe__form{
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.subscribe__input{
    /* display: block; */
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
}

.subscribe__input::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
}

.subscribe__btn{
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    color: var(--primary-white-color);
    letter-spacing: 0.06em;
    background-color: var(--color-active);
    border-color: var(--color-active);
    border-radius: 4px;
    /* display: block; */
    min-width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subscribe__icon{
    width: 24px;
    height: 24px;
    }


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*---------- index studio ---------*/

.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main_Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
    color: var(--primary-white-color);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;

    max-width: 696px;
    margin: 0 auto;
}

.hero__btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    color: var(--primary-white-color);
    letter-spacing: 0.06em;
    background-color: var(--color-active);
    border-color: var(--color-active);

    display: block;
    margin: 0 auto;
    padding: 10px 32px;
}

.principles{
    padding-top: 94px;
    padding-bottom: 94px;
}

.principles__wrapper {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.principles__part {
    height: 120px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

.principles__icon {
   height: 70px;
    width: 70px;
}

.principles__title {
    font-size: 14px;
    line-height: 1.14;
}

.principles__description {
    color: var(--secondary-text-color);
    line-height: 1.71;
    margin-top: 10px;
}

.employments {
    padding-top: 0;
    padding-bottom: 94px;
}

.employments__title {
    font-size: 36px;
    text-align: center;
    line-height: 1.17;
    margin-bottom: 50px;
}

.employments__list {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.employments__skin{
    position: relative;
}

.employments__label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
}

.employments__text{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    color: var(--primary-white-color);
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team__title {
    font-size: 36px;
    text-align: center;
    line-height: 1.17;
    margin-bottom: 50px;
}

.team__list {
    display: flex;
    gap: 30px;

    font-size: 16px;
    line-height: 1.17;
    list-style-type: none;
}

.team__item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__member {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    font-size: 16px;
    line-height: 1.17;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.team__position {
    color: var(--secondary-text-color);
    text-align: center;
}

.team__soc {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
    list-style-type: none;
}

.soc__item--grey {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);

   transition: background-color var(--tra);
   transition: fill var(--tra);
   fill: #AFB1B8;
}

.soc__item--white {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);

   transition: background-color var(--tra);
   fill: var(--primary-white-color);
}

.soc__item--white:hover,
.soc__item--white:focus, 
.soc__item--grey:hover, 
.soc__item--grey:focus {
    background-color: var(--color-active);
    fill: var(--primary-white-color);
}

.soc__link {
    display: block;
    width: 20px;
    height: 20px;
}

.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    font-size: 36px;
    text-align: center;
    line-height: 1.17;
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: fill var(--tra), border-color var(--tra);
}

.clients__item:hover,
.clients__item:focus {
    fill: var(--color-active);
    border-color: var(--color-active);
}

.clients__ico {
    width: 106px;
    height: 60px;
}

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--tra), visibility var(--tra);
}

.modal{
    width: 528px;
    height: 581px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--tra), visibility var(--tra);
    padding: 40px;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
    transition: transform var(--tra);
}

.modal__close--btn{
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    transition: fill var(--tra);
}

.modal__close--btn:hover{
    cursor: pointer;
    fill: var(--color-active);
}

.modal__close--icon{
    width: 18px;
    height: 18px;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal__title{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 12px;
}

.modalform{
    color: var(--secondary-text-color);
}

.formfield:nth-child(-n+3)  {
    margin-bottom: 10px;
}

.formfield:nth-child(4){
    margin-bottom: 20px;
}

.formfield__name{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}

.formfield__wrap{
    position: relative;
}

.formfield__input{
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--tra), fill var(--tra);
}

.formfield__input:focus, .formfield__comment:focus,
.formfield__input:hover, .formfield__comment:hover{
    border-color: var(--color-active);
    cursor: pointer;
}

.formfield__input:focus + .formfield__icon, 
.formfield__input:hover + .formfield__icon{
    fill: var(--color-active);
}

.formfield__icon{
    display: block;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.formfield__comment{
    font-size: 12px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    transition: border-color var(--tra);
}

.formfield__checktext{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.formfield__checkdouble{
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
    fill: var(--primary-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formfield__checkbox:checked + .formfield__checktext span{
    background-color: var(--color-active);
    border-color: var(--color-active);
    border-radius: 2px;
}

.formfield__link{
    color: var(--color-active);
}

.modalform__submit{
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    color: var(--primary-white-color);
    letter-spacing: 0.06em;
    background-color: var(--color-active);
    border: none;
    border-radius: 4px;

    display: block;
    width: 200px;
    height: 50px;
    margin: 30px auto 0 auto;

    transition: background-color var(--tra);
}

.modalform__submit:hover, .modalform__submit:focus{
    background-color: #188CE8;
}

/*------------ portfolio -------------*/

.examples{
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    list-style-type: none;
}

.filter__btn {
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    padding: 6px 25px;
    border: none;
    border-radius: 4px;
    border-color: #F5F4FA;

    background-color: #F5F4FA;
    transition: box-shadow var(--tra), background-color var(--tra), color var(--tra);
}

.filter__btn:hover,
.filter__btn:focus {
    color: var(--primary-white-color);
    background-color: var(--color-active);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    list-style-type: none;
}

.examples__item{
    width: 370px;
    position: relative;
    transition: box-shadow var(--tra);
}

.examples__item:hover,
.examples__item:focus {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__link{
    text-decoration: none;
}

.examples__topwrap{
    position: relative;
    overflow: hidden;
}

.examples__item:hover .examples__toptext{
    transform: translateY(0);
}

.examples__toptext{
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--tra);
    overflow: auto;
}

.examples__details--wrapper {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

.examples__name {
    font-size: 18px;
    color: var(--main-text-color);
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.examples__description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}